
.headerBottom nav ol li{
    cursor: pointer;
}
.bx-wrapper{
    background: transparent; border: none; box-shadow: none;
}
.bx-wrapper .bx-controls-direction a{
    z-index: 1; top: -54px;
}
.bx-wrapper .bx-next{
    background: url('../icon/navigate_next_FILL0_wght400_GRAD0_opsz48.jpg') -7px no-repeat;
    background-color: #cfcfcf;
}
.bx-wrapper .bx-prev{
   background: url('../icon/navigate_before_FILL0_wght400_GRAD0_opsz48.jpg') -8px no-repeat;
   background-color: #cfcfcf;
}
.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus{
    background: url('../icon/navigate_next_FILL0_wght400_GRAD0_opsz48.jpg') -7px no-repeat;
    background-color: #a9a9a9;
}
.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus{
    background: url('../icon/navigate_before_FILL0_wght400_GRAD0_opsz48.jpg') -8px no-repeat;
    background-color: #a9a9a9;
}

.accountPopup > div >input{
    cursor: pointer;
}

header{
    margin: 0 auto; z-index: 100; width: 100%;
    background-color: white; position: fixed;
}
.headerTop{
    display: flex; justify-items: center;
    width: 100%; background-color: #dfdfdf; 
}
.headerTop div:nth-of-type(2) a{
    text-decoration: none; color: black;
}
.headerTop div a:not(:nth-of-type(1)){
    margin-left: 3%;
}
.headerTop div:nth-of-type(1){
    position: relative; min-width: 45px;
}
.headerTop div img{
    position: absolute;
}
.headerTop div:nth-of-type(1)::after{
    content: 'USA'; padding-left: 80%;
}

.headerBottom{
    position: relative;
}
.headerBottom h1 a{
    display: block;
}
.headerBottom h1 a img{
    width: 100%;
}

footer{
    background-color: #dfdfdf;
}
footer .footerTop::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
footer .footerTop div{
    float: left;
}
footer .footerTop div:nth-of-type(2) ul::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
footer .footerTop div:nth-of-type(2) ul li{
    float: left; list-style: none; font-weight: 700;
}
footer .footerTop div:nth-of-type(2) ul li ol li{
    display: block; width: 100%;
}
footer .footerTop div:nth-of-type(2) ul li:not(:last-of-type) ol li:nth-of-type(1),
footer .footerTop div:nth-of-type(2) ul li:last-of-type ol li:nth-of-type(2){
    margin-top: 40px;
}
footer .footerTop div:nth-of-type(2) ul li:not(:last-of-type) ol li:not(:nth-of-type(1)),
footer .footerTop div:nth-of-type(2) ul li:last-of-type ol li:nth-of-type(n+2){
    margin-top: 25px;
}
footer .footerTop div:nth-of-type(2) ul li ol li a{
    text-decoration: none; color: black; font-weight: 400;
}
footer .footerTop div:nth-of-type(2) ul li:last-of-type ol li:not(:first-of-type){
    font-weight: 400;
}
footer .footerTop div:nth-of-type(2) ul li:last-of-type ol li img{
    width: 32.91%;
}

footer .footerBottom{
    background-color: black; padding: 0 2.5%;
}
footer .footerBottom div{
    width: 100%; color: white;
}
footer .footerBottom div > span{
    background-image: url('../icon/usa-icon.jpg');
    background-repeat: no-repeat;
}
footer .footerBottom div a{
    text-decoration: none; color: white; float: right;
}
footer .footerBottom div a:nth-of-type(1){
    margin-left: 30px;
}

.accountPopup form fieldset ul li input,
.ForgetPopup form fieldset input{
    font-size: 20px;
}
.accountPopup.active{
    display: block;
}
.accountPopup{
    position: fixed; z-index: 1000; overflow-y: scroll;
}
.accountPopup div::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.accountPopup div input:nth-of-type(1){
    box-shadow: -1px -1px 5px inset black;
}
.accountPopup div input:nth-of-type(2){
    box-shadow: 1px -1px 5px inset black;
}
.accountPopup div > input{
    float: left; width: 50%; border-style: none; line-height: 80px;
    background-color: #cf0000; font-size: 20px; color: white;
}
.accountPopup div input.active{
    background-color: white; color: black; font-size: 24px; font-weight: 900;
    box-shadow: none;
}
.accountPopup form fieldset{
    display: none;
}
.accountPopup form fieldset.active{
    display: block;
}
.accountPopup form fieldset ul li{
    position: relative; list-style: none;
}
.accountPopup form fieldset#login ul li:nth-of-type(1){
    margin-bottom: 30px;
}
.accountPopup form fieldset#login ul li:nth-of-type(2){
    margin-bottom: 40px;
}
.accountPopup form fieldset#login ul li:nth-of-type(1),
.accountPopup form fieldset#login ul li:nth-of-type(2){
    text-align: right;
}
.accountPopup form fieldset#login ul li:nth-of-type(3){
    margin-bottom: 50px;
}
.accountPopup form fieldset#login ul li:nth-of-type(3) label{
    font-size: 16px; color: #a9a9a9;
}
.accountPopup form fieldset#login ul li:nth-of-type(3) input,
.accountPopup form fieldset#signup ul li:nth-of-type(6) input{
    min-width: 16px; height: 16px;
}
.accountPopup form fieldset#login ul li:nth-of-type(3) a{
    float: right; text-decoration: none; color: #a90000;
}
.accountPopup form fieldset ul li:last-of-type a,
.ForgetPopup a{
    text-decoration: none; color: white; display: block;
}
.accountPopup form fieldset#signup ul li:nth-of-type(n+1):nth-of-type(-n+4){
    margin-bottom: 30px;
}
.accountPopup form fieldset#signup ul li:nth-of-type(5){
    margin-bottom: 50px;
}
.accountPopup form fieldset#signup ul li:nth-of-type(6){
    margin-bottom: 15px;
}
.accountPopup form fieldset#signup ul li:nth-of-type(6) label{
    font-size: 14px; font-weight: 300;
}
.accountPopup .socialbar{
    width: 100%; border-bottom: 2px solid #a9a9a9; position: relative;
    background-color: white;
}
.accountPopup .socialbar span{
    position: absolute; border: 2px solid #a9a9a9; text-align: center;
    min-width: 25px; height: 25px; border-radius: 20px;
    color: #a9a9a9; background-color: white; box-sizing: border-box;
}

.accountPopup ul.social{
    list-style: none; width: 100%; margin: 0 auto; padding: 60px 0 50px;
    display: flex; justify-content: center; background-color: white;
}
.accountPopup ul.social li{
    display: inline-block; text-indent: -9999px; width: 60px; height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
}
.accountPopup ul.social li:not(:first-of-type){
    margin-left: 8.463%;
}
.accountPopup ul.social li:nth-of-type(1){
    background-image: url('../images/index/google2.jpg');
}
.accountPopup ul.social li:nth-of-type(2){
    background-image: url('../images/index/facebook2.jpg');
}
.accountPopup ul.social li:nth-of-type(3){
    background-image: url('../images/index/instaricon.jpg');
}
.accountPopup ul.social li a{
   display: block; height: 100%;
}

.ForgetPopup.active{
    display: block;
}
.ForgetPopup{
    position:fixed; background-color: white; z-index: 100;
}
.ForgetPopup h2{
    font-size: 24px; font-weight: 900; margin-bottom: 65px;
}
.ForgetPopup form fieldset{
    margin-bottom: 35px;
}
.ForgetPopup mark{
    font-size: 16px; color: #a90000; background-color: white;
    display: block; margin-bottom: 50px;
}
.ForgetPopup a{
    width: 100%; display: block;
}

.ShoppingCart{
    background-color: #f7f7f7; z-index: 1000; position: fixed; overflow-y: scroll;
}
.ShoppingCart.active{
    display: block;
}
.ShoppingCart::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.ShoppingCart div{
    float: left;
}
.ShoppingCart > div ul li{
    list-style: none;
}
.ShoppingCart div:first-of-type h2{
    font-size: 36px; margin-bottom: 35px;
}
.ShoppingCart > div:first-of-type ul{
    margin-bottom: 40px;
}
.ShoppingCart > div:first-of-type ul li{
    border-bottom: 1px solid #a9a9a9;
    padding: 0 0 15px 1.44%; margin-bottom: 15px; position: relative;
}
.ShoppingCart > div:first-of-type ul li > input{
    cursor: pointer;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure{
     width: 46%; float: left; 
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1))::after{
    content: ''; display: block; visibility: hidden; clear: both;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure img{
    float: left; max-width: 100px; height: 100px; margin-right: 3.178%;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure figcaption{
    padding: 10px 0;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure figcaption dl dt{
    margin-bottom: 10px;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure figcaption dl dd{
    margin-bottom: 10px;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) > span{
    line-height: 100px;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span select,
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span input{
    height: 40px; box-sizing: border-box; border-radius: 20px;
    border: 1px solid #a9a9a9;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span select{
    padding-left: 1.44%;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span input{
    margin: 0 3.6% 0 2.88%; padding-left: 2.88%;
}
.ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) input[type=button]{
    position: absolute; right: 0px; border-style: none; background-color: #f7f7f7;
    font-size: 20px; cursor: pointer;
}
.ShoppingCart div:first-of-type > div input{
    width: 160px; height: 40px; border-radius: 20px; border: 1px solid #a9a9a9;
    font-size: 14px; font-weight: 700; background-color: white; cursor: pointer;
}
.ShoppingCart div:first-of-type > div small{
    font-size: 20px;
}
.ShoppingCart div:first-of-type > div span{
    font-size: 30px; float: right;
}

.ShoppingCart > div:last-of-type{
    background-color: #8f0000; padding: 2.27%; border-radius: 20px;
}
.ShoppingCart > div:last-of-type h2{
    font-size: 36px; color: white;
}
.ShoppingCart div:first-of-type > div{
    width: 100%;
}
.ShoppingCart > div:last-of-type ul li:not(:last-of-type),
.ShoppingCart > div:last-of-type h2{
    border-bottom: 2px solid #750000; padding-bottom: 15px; margin-bottom: 25px;
}
.ShoppingCart > div:last-of-type ul li label{
    display: block; font: 14px; color: #a9a9a9; margin-bottom: 25px;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(1) input{
    width: 49%; height: 40px; border-radius: 20px; border: 3px solid #750000;
    background-color: #8f0000; font-size: 14px; color: white;
    background-repeat: no-repeat;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:first-of-type{
    background-image: url('../images/index/createCard.jpg');
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:last-of-type{
    background-image: url('../images/index/papal.jpg');
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(1) input.active{
    border-color: #cfcfcf;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(2) input{
    width: 100%; background-color: #8f0000; border-style: none; color: white;
    font-size: 16px;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(3) input{
    display: inline-block; background-color: #8f0000; border-style: none;
    color: white; font-size: 16px;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(4){
    margin: 0 0 40px 0;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(4) label,
.ShoppingCart > div:last-of-type ul li:nth-of-type(4) input{
    display: inline-block; width: 44%; 
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(4) label:first-of-type,
.ShoppingCart > div:last-of-type ul li:nth-of-type(4) input:first-of-type{
    margin-right: 5%;
}
.ShoppingCart > div:last-of-type ul li:nth-of-type(4) input{
    box-sizing: border-box; background-color: #8f0000; border-style: none;
    font-size: 16px; color: white;
}
.ShoppingCart > div:last-of-type ul li input::placeholder{
    color: white;
}
.ShoppingCart > div:last-of-type ul li:last-of-type input{
    width: 100%; height: 40px; border-radius: 20px; border-style: none; background-color: #ff0000;
    font-size: 20px; color: white; font-weight: 700; cursor: pointer;
}

.careerPopup{
    background-color: white; position: fixed;z-index: 1000; overflow-y: scroll;
}
.careerPopup > h2{
    font-size: 24px; font-weight: 900; margin-bottom: 70px;
}
.careerPopup form fieldset ul > li{
    display: block; margin-bottom: 35px;
}
.careerPopup form fieldset ul li:not(:nth-of-type(5)) input,
.careerPopup form fieldset ul li span.componentSelect select{
    border: 1px solid #b1b1b1;
}
.careerPopup form fieldset ul li:not(:nth-of-type(5)) input::placeholder{
    font-size: 16px; color: #b1b1b1;
}
.careerPopup form fieldset ul li span.componentSelect select{
    height: 55px; color: #b1b1b1; font-size: 16px;
}
.careerPopup > form fieldset ul li label{
    display: block; color: #b1b1b1; margin-bottom: 15px; text-align: center;
    line-height: 55px; padding: 0 2.821%; color: white; background-color: #cf0000;
}
.careerPopup > form fieldset ul li:nth-of-type(5) input{
    position: absolute; top: -9999px; 
}
.careerPopup > form fieldset ul li:nth-of-type(5) small{
    font-size: 14px; color: #b1b1b1;
}
.careerPopup > form fieldset ul li{
    display: block;
}
.careerPopup > form fieldset ul li:nth-of-type(n+6).active span{
    background-image: url('../icon/expand_less_FILL0_wght400_GRAD0_opsz48.svg');
    background-color: #a9a9a9;
}
.careerPopup > form fieldset ul li:nth-of-type(n+6):hover span{
    background-color: #a9a9a9; cursor: pointer;
}
.careerPopup.active{
    display: block;
}

.popupDialog{
    background-color: white; text-align: center; position: fixed;z-index: 1000;
}
.popupDialog span{
    display: block; font-size: 30px; margin-bottom: 50px;
}
.popupDialog a{
    text-decoration: none; padding: 3.75% 17.5%; background-color: #ff0000;
    color: white;
}
.popupDialog.active{
    display: block;
}

body > div.paging{
    position: relative; width: 50%; margin: 0 auto 50px; padding: 0 3%;
    
}
body > div.paging > a{
    position: absolute; text-decoration: none; text-indent: -9999px;
    min-width: 50px; height: 50px;
    background-repeat: no-repeat;
    background-size: 50px;
}
body > div.paging > a:first-of-type{
    left: 0;
    background-image: url("../icon/navigate_before_FILL0_wght400_GRAD0_opsz48.jpg");
}
body > div.paging > a:last-of-type{
    right: 0;
    background-image: url("../icon/navigate_next_FILL0_wght400_GRAD0_opsz48.jpg");
}
body > div.paging ol{
    text-align: center;
}
body > div.paging ol li{
    line-height: 50px; display: inline-block; 
}
body > div.paging ol li:not(:nth-of-type(1)){
    margin-left: 4%;
}
body > div.paging ol li a{
    text-decoration: none; font-size: 20px; 
    color: black; opacity: 0.5;
}
body > div.paging ol li a:hover{
    opacity: 1;
}
body > div.paging ol li a.active{
    opacity: 1;
}

@media screen and (min-width:768px){
    footer .footerTop div:nth-of-type(1) ul li:not(:nth-of-type(1)){
        margin-left: 8.25%;
    }
}

/* tablet + desctop fin */

@media screen and (max-width:1279px){
    .headerTop span{
        margin-left: 13%; width: 59.5%; text-align: center;
    }
    .headerTop div:nth-of-type(2){
        text-align: right; padding-right: 2.5%;
    }
    .headerBottom > input{
        background-image: url('../icon/menu_FILL0_wght400_GRAD0_opsz48.svg');
        background-repeat: no-repeat;
        cursor: pointer;
        border-style: none; text-indent: -9999px;  background-color: rgba(0, 0, 0, 0);
    }
    .headerBottom nav{
        position: fixed; width: 40%; height: 100vh; z-index: 100; background-color: white;
        padding-top: 60px; left: 0; top: 60px; overflow-y: scroll; display: none;
    }
    .headerBottom nav input[type='button'].btn_close{
        position: absolute; right: 2%; top: 15px; width: 30px; height: 30px; cursor: pointer;
        background: url('../icon/close_FILL0_wght400_GRAD0_opsz48.svg') center / contain no-repeat;
        text-indent: -9999px; border: none;
    }
    .headerBottom nav a{
        text-decoration: none; display: block;
    }
    .headerBottom nav li{
        line-height: 60px; display: block;  box-sizing: border-box;
    }
    .headerBottom nav > ol > li,
    .headerBottom nav > ol > li > a{
       position: relative; font-size: 24px; color: inherit; font-weight: 700;
    }
    .headerBottom nav > ol > li ul > li{
        position: relative;
    }
    .headerBottom nav > ol > li:not(:nth-child(n+4))::after,
    .headerBottom nav > ol > li:first-child ul > li::after,
    .headerBottom nav > ol > li:nth-child(3) ul > li:first-child::after{
        display: block; position: absolute; content: '';
        background: url('../icon/expand_less_FILL0_wght400_GRAD0_opsz48.svg') center / contain no-repeat;
        right: 3%; top: 15px; width: 30px; height: 30px;
    }
    .headerBottom nav > ol > li:hover::after,
    .headerBottom nav > ol > li:first-child ul > li:hover::after,
    .headerBottom nav > ol > li:nth-child(3) ul > li:first-child::after{
        transform: rotate(180deg);
    }
    .headerBottom nav > ol > li:first-child,
    .headerBottom nav > ol > li ul > li:first-child,
    .headerBottom nav > ol > li ul > li ol > li:first-child{
        border-width: 1px 0; border-style: solid; border-color: black;
    }
    .headerBottom nav > ol > li:not(:first-child),
    .headerBottom nav > ol > li ul > li:not(:last-child)
    ,.headerBottom nav > ol > li ul > li ol > li:not(:last-child){
        border-bottom: 1px solid black;
    }
    .headerBottom nav > ol > li > ul li,
    .headerBottom nav > ol > li > ul li > a{
        color: #626262; font-size: 20px;
    }
    .headerBottom nav > ol > li > ul li ol li a{
        color: #a9a9a9; font-size: 16px; font-weight: 400;
    }
    .headerBottom nav > ol > li ul,
    .headerBottom nav > ol > li ul li ol{
        display: none;
    }
    .headerBottom nav > ol > li > ul > li{
        background-color: #dfdfdf;
    }
    .headerBottom nav > ol > li > ul > li ol li{
        background-color: #efefef;
    }
    .headerBottom nav > ol > li:hover ul,
    .headerBottom nav > ol > li ul li:hover ol,
    .headerBottom nav.active{
        display: block;
    }
    .headerBottom > div:last-of-type{
        float: right; text-align: right;
    }
    .headerBottom > div input:first-of-type{
        border-style: none; width: 0%;
        background-image: url("../icon/search_FILL0_wght400_GRAD0_opsz48\ \(1\).svg");
        background-repeat: no-repeat;
        box-sizing: border-box;
    }
    .headerBottom > div input:first-of-type:hover,
    .headerBottom > div input:first-of-type:focus{
        border-bottom: 1px solid black; width: 70%; transition-duration: 1s;
    }
    .headerBottom > div input:last-of-type{
        border-style: none; background-color: white; font-size: 28px;
        padding: 0;
    }
    .headerBottom > div input:last-of-type:hover{
        cursor: pointer;
    }
}

/* mobile + tablet fin */

@media screen and (max-width:767px){
    .bx-wrapper .bx-next{
        right: 5%;
    }
    .bx-wrapper .bx-prev{
        left: 81.5%;
    }
    .headerTop{
        line-height: 50px; font-size: 12px;
    }
    .headerTop span{
        display: none;
    }
    .headerTop div:nth-of-type(2){
        width: 95%;
    }
    .headerTop div:nth-of-type(1){
        padding-left: 2.5%;
    }
    .headerTop div img{
        top: 14px;
    }

    /* headerTop fin */

    .headerBottom h1{
        max-width: 60px; width: 20%; position: absolute; left: 40%; top: 10px;
    }
    .headerBottom > input{
        background-size: 30px;
        background-position-y: 15px;
        background-position-x: 10px;
        min-width: 40px; height: 45px;
    }
    .headerBottom nav{
        width: 100%; top: 50px;
    }

    .headerBottom > div:last-of-type{
        width: 35%; padding: 15px 2.5% 15px 0;
    }
    .headerBottom > div:last-of-type input:last-of-type{
        font-size: 20px;
    }
    .headerBottom > div input:first-of-type{
        padding-left: 15%; height: 30px; max-width: 400px; font-size: 12px;
        background-size: 20px;
        background-position: 1px 5px;
    }
    .headerBottom > div input:first-of-type:hover,
    .headerBottom > div input:first-of-type:focus{
        padding-left: 20%;
    }

    /* .headerBottom fin */
    
    /* fnb fin */

    footer .footerTop{
        padding: 40px 2.5%; 
    }

    footer .footerTop div:nth-of-type(1){
        display: none;
    }
    footer .footerTop div:nth-of-type(2){
        width: 100%;
    }
    footer .footerTop div:nth-of-type(2) ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer .footerTop div:nth-of-type(2) ul li:not(:nth-of-type(1)){
        margin-left: 1%;
    }
    footer .footerTop div:nth-of-type(2) ul li{
        width: 23.8%; font-size: 12px;
         
    }

    /* footerTop fin */

    footer .footerBottom div{
        line-height: 40px; font-size: 12px;
    }
    footer .footerBottom div > span{
        background-position: 0px 10px;
        padding-left: 12%;
        width: 88%;
        display: block;
    }
    footer .footerBottom div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }

    /* footerBottom fin */


    .accountPopup{
        width: 100%; height: 60%; padding: 30px 0 50px 0;
        top: 110px; left: 0;
    }
    .accountPopup form fieldset,
    .accountPopup ul.social{
        padding: 0 10%;
    }
    .accountPopup form fieldset{
        background-color: white; padding-top: 40px;
    }

    .accountPopup form fieldset#signup ul li:nth-of-type(1){
        margin-right: 5%;
    }
    .accountPopup form fieldset#signup ul li:nth-of-type(1),
    .accountPopup form fieldset#signup ul li:nth-of-type(2){
        width: 46.46%; display: inline-block;
    }
    .accountPopup .socialbar{
        margin: 0 auto ; padding: 60px 0 0;
    }
    .accountPopup .socialbar span{
        top: 50px; left: 48%;
    }

    .accountPopup ul.social{
        padding: 60px 0 50px;

    }

    /* accountPopup fin */


    .ForgetPopup{
        width: 95.5%; height: 300px; padding: 50px 2.31%; top: 130px; left: 0;
    }

    /* login and signup fins */
    .ShoppingCart{
        width: 93%; height: 550px; padding:30px 3.5% 50px; left: 0; top: 110px;

    }

    .ShoppingCart > div:first-of-type{
        width: 100%; margin-bottom: 30px;
    }
    .ShoppingCart > div:last-of-type{
        width: 95%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:first-of-type{
        width: 50%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:nth-of-type(2){
        margin-left: 35%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:nth-of-type(3){
        margin-left: 8%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:last-of-type{
        margin-left: 3%;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure figcaption dl dt{
        font-size: 14px;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) figure figcaption dl dd{
        font-size: 14px;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span select,
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span input{
        width: 13%;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) input[type=button]{
        top: 33%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input{
        padding-left: 5%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:first-of-type{
        background-position: 25%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:last-of-type{
        background-position: 30%; 
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(3) input{
        width: 23%;
    }

    /* ShoppingCar fin */

    .careerPopup{
        width: 94%; height: 80%; padding: 30px 3%;
        left: 0; top: 110px;
    }

    .careerPopup > form fieldset ul li label{
        font-size: 16px; width: 50%;
    }

    /* careerPopup fin */

    .popupDialog{
        width: 60%; padding: 30px 0 40px; top: 40%; left: 20%;
    }

    /* popupDialog fin */

}

/* mobile fin */

@media screen and (min-width:768px) and (max-width:1279px){
    .bx-wrapper .bx-next{
        right: 5%;
    }
    .bx-wrapper .bx-prev{
        left: 86.5%;
    }
    .headerTop{
        line-height: 60px; font-size: 14px;
    }
    .headerTop div:nth-of-type(2){
        width: 46%;
    }
    .headerTop div:nth-of-type(1){
        padding-left: 2.5%;
    }
    .headerTop div img{
        top: 18px;
    }
    footer .footerTop div:nth-of-type(2) ul li ol li a{
        font-size: 16px;
    }
    footer .footerTop div:nth-of-type(2) ul li:last-of-type ol li:not(:first-of-type){
        font-size: 16px;
    }

    /* headerTop fin */

    .headerBottom{
        height: 100%;
    }
    .headerBottom h1{
        max-width: 80px; width: 10%; position: absolute; left: 45%; top: 15px;
    }
    .headerBottom > input{
        background-size: 35px;
        background-position-y: 20px;
        background-position-x: 20px;
        min-width: 50px; height: 80px;
    }

    .headerBottom nav{
        width: 40%; top: 60px;
    }
    .headerBottom > div:last-of-type{
        width: 30%; padding: 25px 2.5% 25px 0;
    }
    .headerBottom > div input:first-of-type{
        padding-left: 13%; height: 30px; max-width: 500px; font-size: 16px;
        background-size: 30px;
        background-position: 5px bottom;
    }
    .headerBottom > div input:first-of-type:hover,
    .headerBottom > div input:first-of-type:focus{
        padding-left: 18%;
    }


    /* .headerBottom fin */
    
    /* fnb fin */

    footer .footerTop{
        padding: 85px 2.5%;
    }
    footer .footerTop div:nth-of-type(1){
        width: 40%; display: none;
    }
    footer .footerTop div:nth-of-type(2){
        width: 100%;
    }
    footer .footerTop div:nth-of-type(2) ul li:not(:nth-of-type(1)){
        margin-left: 1.333%;
    }
    footer .footerTop div:nth-of-type(2) ul li{
        width: 24%; font-size: 20px;
         
    }

    /* footerTop fin */

    footer .footerBottom div{
        line-height: 90px; font-size: 14px;
    }
    footer .footerBottom div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer .footerBottom div span{
        padding-left: 5%;
        width: 30%;
    }

    /* footerBottom fin */

    .accountPopup{
        width: 100%; height: 60%; padding: 30px 0 50px;
        top: 140px; left: 0;
    }
    .accountPopup form fieldset{
        background-color: white; padding: 40px 10% 60px;
    }
    .accountPopup form fieldset#signup ul li:nth-of-type(1){
        margin-right: 5%;
    }
    .accountPopup form fieldset#signup ul li:nth-of-type(1),
    .accountPopup form fieldset#signup ul li:nth-of-type(2){
        width: 46.46%; display: inline-block;
    }
    .accountPopup .socialbar span{
        top: -11px; left: 48.5%;
    }
    .accountPopup ul.social{
        padding: 60px 0;
    }
    /* accountPopup fin */

    .ForgetPopup{
        width: 50%; height: 280px; padding: 50px 2.31%; top: 150px; left: 25%; 
    }

    /* login and signup fins */
    .ShoppingCart{
        width: 93%; height: calc(100% - 140px); padding: 30px 3.5% 50px;
        left: 0; top: 140px;
    }
    .ShoppingCart > div:first-of-type{
        width: 100%; margin-bottom: 30px;
    }
    .ShoppingCart > div:last-of-type{
        width: 95%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:first-of-type{
        width: 50%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:nth-of-type(2){
        margin-left: 37%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:nth-of-type(3){
        margin-left: 10%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:last-of-type{
        margin-left: 6%;
    }   
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span select,
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span input{
        width: 11.7%;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) input[type=button]{
        top: 30%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input{
        padding-left: 5%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:first-of-type{
        background-position: 25%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:last-of-type{
        background-position: 30%; 
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(3) input{
        width: 21%;
    }

    /* ShoppingCar fin */

    .careerPopup{
        width: 94%; height: 75%; padding: 30px 3%;
        left: 0; top: 140px;
    }
    .careerPopup > form fieldset ul li label{
        font-size: 16px; width: 50%;
    }

    /* careerPopup fin */

    .popupDialog{
        width: 38%; padding: 2% 0 4%; top: 40%; left: 31%;
    }

    /* popupDialog fin */
}

/* tablet fin */

@media screen and (min-width:1280px){
    .bx-wrapper .bx-next{
        right: 3%;
    }
    .bx-wrapper .bx-prev{
        left: 92%;
    }

    .headerTop{
        line-height: 60px;
    }
    .headerTop span{
        margin-left: 35%;
    }
    .headerTop div:nth-of-type(2){
        margin-left: auto; width: 25%; text-align: right;
    }
    .headerTop div img{
        top: 20px;
    }

    /* headerTop fin */

    .headerBottom{
        padding: 20px 2.5%;
    }
    .headerBottom:after{
        content: ''; display: block; clear: both;
    }
    .headerBottom > *{
        float: left;
    }
    .headerBottom h1{
        max-width: 120px; width: 10%;
    }
    .headerBottom nav{
        font-size: 28px; font-weight: 700; width: 66%; margin-left: 4%;
    }
    .headerBottom nav input,
    .headerBottom > input{
        display: none;
    }
    .headerBottom nav > ol{
        line-height: 80px;
    }
    .headerBottom nav > ol li{
        display: inline-block; cursor: pointer;
    }
    .headerBottom nav ol li > ul{
        display: none; position: absolute; width: 100%; background-color: white;
        left: 0; z-index: 100;
    }

    .headerBottom nav ol li:hover > ul{
        display: block;
    }
    .headerBottom div:last-of-type{
        text-align: right; width: 20%; line-height: 80px;
    }
    .headerBottom div input:first-of-type{
        border-style: none; border-bottom: 1px solid black; width: 80%;
        padding-left: 15%; height: 30px; max-width: 500px; font-size: 16px;
        background-image: url("../icon/search_FILL0_wght400_GRAD0_opsz48\ \(1\).svg");
        background-repeat: no-repeat;
        box-sizing: border-box;
        background-size: 30px;
        background-position: 5px bottom;
    }
    .headerBottom div input:last-of-type{
        border-style: none; background-color: white; font-size: 28px;
        padding: 0; margin-left: 3.95%;
    }
    .headerBottom div input:last-of-type:hover{
        cursor: pointer;
    }

    /* .headerBottom fin */
    .headerBottom nav > ol > li:not(:nth-child(1)){
        margin-left: 4%;
    }
    .headerBottom nav ol li ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    .headerBottom nav ol li ul{
        padding: 0 0 0 12%; box-sizing: border-box;
    }
    .headerBottom nav ol li ul li{
        width: 29.33%; float: left; list-style: none;
        font-size: 24px;
    }
    .headerBottom nav ol li a{
        font: 28px; text-decoration: none; color: black; font-weight: 700;
    }
    .headerBottom nav ol li ul li a{
        text-decoration: none; color: black; 
        font-size: 24px; font-weight: 700; 
    }
    .headerBottom nav ol li ul li ol li{
        width: 100%; line-height: 20px;
    }
    .headerBottom nav ol li ul li ol li{
        margin-bottom: 25px;
    }

    .headerBottom nav ol li ul li ol li a{
        text-decoration: none; font-size: 20px; font-weight: 300; color: #626262;
        display: block; margin: 0; padding: 0;
    }

    .headerBottom nav ol li:hover ul{
        display: block;
    }
    
    /* fnb fin */


    footer .footerTop{
        padding: 85px 2.5%;
    }
    footer .footerTop div:nth-of-type(1){
        width: 40%;
    }
    footer .footerTop div:nth-of-type(2){
        width: 60%;
    }
    footer .footerTop div:nth-of-type(1) h2{
        margin-bottom: 30px;
    }
    footer .footerTop div:nth-of-type(1) p{
        margin-bottom: 25px;
    }
    footer .footerTop div:nth-of-type(1) p strong{
        display: block; font-size: 20px; font-weight: 700; margin-bottom: 20px;
    }
    footer .footerTop div:nth-of-type(1) form fieldset{
        margin-bottom: 30px;
    }
    footer .footerTop div:nth-of-type(1) form fieldset input[type='email']{
        width: 46%; height: 60px; box-sizing: border-box; border-radius: 30px;
        border-style: none; padding-left: 4.93%;

    }
    footer .footerTop div:nth-of-type(1) form fieldset input[type='submit']{
        width: 24.68%; height: 60px; box-sizing: border-box; border-radius: 30px;
        border-style: none; margin-left: 2.46%; cursor: pointer;
    }
    footer .footerTop div:nth-of-type(1) ul{
        padding-left: 9.78%;
    }
    footer .footerTop div:nth-of-type(1) ul li{
        display: inline-block; 
    }
    footer .footerTop div:nth-of-type(2) ul::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer .footerTop div:nth-of-type(2) ul li{
        width: 25%; font-size: 20px;
    }
    footer .footerTop div:nth-of-type(2) ul li ol li a{
        font-size: 16px;
    }
    footer .footerTop div:nth-of-type(2) ul li:last-of-type ol li:not(:first-of-type){
        font-size: 16px;
    }

    /* footerTop fin */

    footer .footerBottom div{
        line-height: 90px; font-size: 14px;
    }
    footer .footerBottom div::after{
        content: ''; display: block; visibility: hidden; clear: both;
    }
    footer .footerBottom div span{
        padding-left: 3.53%;
        width: 30%;
    }

    /* footerBottom fin */

    .accountPopup{
        width: 40%; height: 60%; padding-top: 30px;
        top: 181.2px; left: 30%;
    }
    .accountPopup ul.social{
        padding: 0 10%;
    }
    .accountPopup form fieldset{
        background-color: white; padding: 40px 10% 50px;
    }
    .accountPopup form fieldset#signup ul li:nth-of-type(1){
        margin-right: 5%;
    }
    .accountPopup form fieldset#signup ul li:nth-of-type(1),
    .accountPopup form fieldset#signup ul li:nth-of-type(2){
        width: 46.7%; display: inline-block;
    }
    .accountPopup .socialbar span{
        top: -11px; left: 48%;
    }
    .accountPopup ul.social{
        padding: 40px 0;
    }
    /* accountPopup fin */

    .ForgetPopup{
        width: 40%; height: 300px; padding: 50px 2.5%; top: 200px; left: 27.5%;
    }

    /* login and signup fins */
    .ShoppingCart{
        width: 72.63%; height: 480px;padding: 3.292%;
        left: 13.185%; top: 181.2px;
    }
    .ShoppingCart > div:first-of-type{
        width: 62.9%; 
    }
    .ShoppingCart > div:last-of-type{
        width: 30%; margin-left: 2.5%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:first-of-type{
        width: 50%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:nth-of-type(2){
        margin-left: 37%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:nth-of-type(3){
        margin-left: 10%;
    }
    .ShoppingCart div:first-of-type ul li:nth-of-type(1) span:last-of-type{
        margin-left: 6%;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span select,
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) span input{
        width: 11.7%;
    }
    .ShoppingCart div:first-of-type ul li:not(:nth-of-type(1)) input[type=button]{
       top: 30%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input{
        padding-left: 10%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:first-of-type{
        background-position: 20%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(1) input:last-of-type{
        background-position: 30%; 
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(3) input{
        width: 21%;
    }
    .ShoppingCart > div:last-of-type ul li:nth-of-type(4) input{
        box-sizing: border-box; background-color: #8f0000; border-style: none;
        font-size: 16px; color: white;
    }
    .ShoppingCart > div:last-of-type ul li input::placeholder{
        color: white;
    }
    .ShoppingCart > div:last-of-type ul li:last-of-type input{
        width: 100%; height: 40px; border-radius: 20px; border-style: none; background-color: #ff0000;
        font-size: 20px; color: white; font-weight: 700; cursor: pointer;
    }

    /* ShoppingCar fin */

    .careerPopup{
        width: 35%; height: 70%; padding: 30px 3%;
        left: 29.5%; top: 181.2px;
    }
    .careerPopup > form fieldset ul li label{
        font-size: 20px; width: 36.21%;
    }
    .careerPopup > form fieldset ul li:nth-of-type(n+6).active span{
        background-image: url('../icon/expand_less_FILL0_wght400_GRAD0_opsz48.svg');
        background-color: #a9a9a9;
    }
    .careerPopup > form fieldset ul li:nth-of-type(n+6):hover span{
        background-color: #a9a9a9; cursor: pointer;
    }
    .careerPopup.active{
        display: block;
    }

    /* careerPopup fin */

    .popupDialog{
        width: 25%; padding: 2% 0 4%;
        top: 40%; left: 35%;
    }

    /* popupDialog fin */
}

/* desctop din */